<div class="blog-header">
  <h1 class="blog-title"> <%=	@author.name  %> Posts</h1>
</div>
<div class="row">
  <div class="col-sm-8 blog-main">
    <% @posts.each do |post| %>
        <div class="blog-post">
          <%= render post %>
        </div>
    <% end %>
    <nav>
      <ul class="pagination pagination-lg">
        <li class="page-item">
          <a class="page-link" href="#">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  <%= render 'partials/sidebar' %>
</div>