<div class="col-sm-8 blog-main">
  <div class="blog-post" style="margin-top:2em">
    <%= render @post %><br/>
    <h5> <%= @post.comments.count %> Comments</h5>
	<%= react_component('CommentBox', {comments: @post.comments}) %>
    <hr>
	<%= render 'comments/form'%>
  </div>
</div>

