<div class="col-sm-8 blog-main">
  <div class="blog-post">
    <%= render @post %><br/>
    <h5> <%= @post.comments.count %> Comments</h5>
      <%= render 'comments/comment' %>
    <hr>
    <%= render 'comments/form'%>
  </div>
</div>

